<header class="header navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="logo-container">
      <a href="/" class="navbar-brand"> 
        <img src="https://i.ytimg.com/vi/gH0-EEqvJYU/maxresdefault.jpg" alt="Logo" class="logo" />
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">¿Qué es?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Nuestros servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">¿Quiénes somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Registrarse</a>
        </li>
      </ul>
    </nav>
  </div>
</header>