<div class="container mt-4">
  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p>Cargando datos, por favor espere...</p>
  </div>
  <div *ngIf="!isLoading">
    <div class="card shadow">
      <div class="card-header text-center">
        <h1 class="mb-0">Dashboard de Incidencias</h1>
      </div>
      <div class="card-body">
        <div class="row mb-4">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header text-center">
                <strong>Total de Incidencias: {{ totalIncidences }}</strong>
              </div>
              <div class="card-body">
                <canvas baseChart
                        [data]="incidenceChartData"
                        [options]="chartOptions"
                        [legend]="true"
                        [type]="'bar'">
                </canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card shadow">
              <div class="card-header text-center">
                <strong>Total Categorías: {{ totalCategories }}</strong>
              </div>
              <div class="card-body">
                <canvas baseChart
                        [data]="categoryChartData"
                        [options]="chartOptions"
                        [legend]="true"
                        [type]="'bar'">
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-6">
            <div class="card shadow">
              <div class="card-header text-center">
                <strong>Usuarios por Rol</strong>
              </div>
              <div class="card-body">
                <canvas baseChart
                        [data]="userRolesChartData"
                        [options]="chartOptions"
                        [legend]="true"
                        [type]="'bar'">
                </canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card shadow">
              <div class="card-header text-center">
                <strong>Registro Usuario por Mes</strong>
              </div>
              <div class="card-body">
                <canvas baseChart
                        [data]="registrationMonthChartData"
                        [options]="chartOptions"
                        [legend]="true"
                        [type]="'bar'">
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-12">
            <div class="card shadow">
              <div class="card-header text-center">
                <strong>Categorías Más Usadas</strong>
              </div>
              <div class="card-bod pie-chart-container">
                <canvas baseChart
                        [data]="categoriesPieChartData"
                        [options]="chartOptionsPie" 
                        [legend]="true"
                        [type]="'pie'"> 
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div> 
  </div> 
</div>