<div class="container mt-4">
    <h2 class="mb-4">Lista de Incidentes</h2>
    
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Descripción</th>
                <th>Fecha de creación</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let incidencia of incidencias">
                <td>{{ incidencia.descripcion }}</td>
                <td>{{ incidencia.fecha | date:'yyyy-MM-dd HH:mm' }}</td>
                <td>{{ incidencia.localidad }}</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteIncidencia(incidencia.incidencia_id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="incidencias.length === 0" class="alert alert-warning" role="alert">
        No hay incidentes registrados.
    </div>
</div>
